In [4]:
using Arrow
using CSV
using DataFrames
using FreqTables
using Pipe
using Statistics

┌ Info: Precompiling Pipe [b98c9c47-44ae-5843-9183-064241ee97a0]
└ @ Base loading.jl:1278

In [12]:
ENV["LINES"], ENV["COLUMNS"] = 5, 200

(5, 200)

In [13]:
DATA  = "../../data"
df = CSV.File("$DATA/auto2.csv") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                   392 rows omitted

In [14]:
df2 = Arrow.Table("$DATA/auto2.arrow") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                   392 rows omitted

In [15]:
df == df2

true

In [16]:
df2.mpg

392-element Array{Float64,1}:
 ⋮

In [17]:
df3 = copy(df2)

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                   392 rows omitted

In [18]:
gdf = groupby(df, :brand)

GroupedDataFrame with 37 groups based on key: brand
First Group (43 rows): brand = "chevrolet"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                    43 rows omitted
⋮
Last Group (1 row): brand = "nissan"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name              brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String            String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮            ⋮            ⋮
                                                                                                          1 row omitted

In [19]:
gdf[("ford",)]

48×10 SubDataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name              brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String            String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮            ⋮            ⋮
                                                                                                        48 rows omitted

In [20]:
brand_mpg = combine(gdf, :mpg => mean)

37×2 DataFrame
 Row │ brand      mpg_mean
     │ String     Float64
─────┼─────────────────────
  ⋮  │     ⋮         ⋮
            37 rows omitted

In [21]:
combine(gdf, :mpg => mean => :mean_mpg)

37×2 DataFrame
 Row │ brand      mean_mpg
     │ String     Float64
─────┼─────────────────────
  ⋮  │     ⋮         ⋮
            37 rows omitted

In [22]:
sort!(brand_mpg, :mpg_mean, rev=true)

37×2 DataFrame
 Row │ brand      mpg_mean
     │ String     Float64
─────┼─────────────────────
  ⋮  │     ⋮         ⋮
            37 rows omitted

In [23]:
freqtable(df, :brand, :origin)

ArgumentError: ArgumentError: reducing over an empty collection is not allowed