In [1]:
using Arrow
using CSV
using DataFrames
using FreqTables
using Pipe
using Statistics

In [2]:
ENV["LINES"], ENV["COLUMNS"] = 5, 200

(5, 200)

In [3]:
DATA  = "../../data"
df = CSV.File("$DATA/auto2.csv") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                   392 rows omitted

In [4]:
df2 = Arrow.Table("$DATA/auto2.arrow") |> DataFrame

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                   392 rows omitted

In [5]:
df == df2

true

In [6]:
df2.mpg

392-element Array{Float64,1}:
 ⋮

In [7]:
df3 = copy(df2)

392×10 DataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                   392 rows omitted

In [8]:
gdf = groupby(df, :brand)

GroupedDataFrame with 37 groups based on key: brand
First Group (43 rows): brand = "chevrolet"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name                       brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String                     String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮                 ⋮                  ⋮
                                                                                                                    43 rows omitted
⋮
Last Group (1 row): brand = "nissan"
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name              brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String            String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮            ⋮            ⋮
                                                                                                          1 row omitted

In [9]:
gdf[("ford",)]

48×10 SubDataFrame
 Row │ mpg      cylinders  displacement  horsepower  weight   acceleration  year     origin   name              brand
     │ Float64  Float64    Float64       Float64     Float64  Float64       Float64  Float64  String            String
─────┼─────────────────────────────────────────────────────────────────────────────────────────────────────────────────
  ⋮  │    ⋮         ⋮           ⋮            ⋮          ⋮          ⋮           ⋮        ⋮            ⋮            ⋮
                                                                                                        48 rows omitted

In [10]:
brand_mpg = combine(gdf, :mpg => mean)

37×2 DataFrame
 Row │ brand      mpg_mean
     │ String     Float64
─────┼─────────────────────
  ⋮  │     ⋮         ⋮
            37 rows omitted

In [11]:
combine(gdf, :mpg => mean => :mean_mpg)

37×2 DataFrame
 Row │ brand      mean_mpg
     │ String     Float64
─────┼─────────────────────
  ⋮  │     ⋮         ⋮
            37 rows omitted

In [12]:
sort!(brand_mpg, :mpg_mean, rev=true)

37×2 DataFrame
 Row │ brand      mpg_mean
     │ String     Float64
─────┼─────────────────────
  ⋮  │     ⋮         ⋮
            37 rows omitted

In [13]:
freqtable(df, :brand, :origin)

ArgumentError: ArgumentError: reducing over an empty collection is not allowed

In [14]:
origbrand = @pipe df |>
    groupby(_, :brand) |>
    combine(_, :origin => x -> length(unique(x)))

37×2 DataFrame
 Row │ brand      origin_function
     │ String     Int64
─────┼────────────────────────────
  ⋮  │     ⋮             ⋮
                   37 rows omitted

In [15]:
extrema(origbrand.origin_function)

(1, 1)

In [16]:
origbrand2 = @pipe df |>
    groupby(_, [:origin, :brand]) |>
    combine(_, nrow)

37×3 DataFrame
 Row │ origin   brand      nrow
     │ Float64  String     Int64
─────┼───────────────────────────
  ⋮  │    ⋮         ⋮        ⋮
                  37 rows omitted

In [17]:
originvbrand = unstack(origbrand2, :brand, :origin, :nrow)

37×4 DataFrame
 Row │ brand      1.0      3.0      2.0
     │ String     Int64?   Int64?   Int64?
─────┼──────────────────────────────────────
  ⋮  │     ⋮         ⋮        ⋮        ⋮
                             37 rows omitted

In [18]:
coalesce.(originvbrand, 0)

37×4 DataFrame
 Row │ brand      1.0    3.0    2.0
     │ String     Int64  Int64  Int64
─────┼────────────────────────────────
  ⋮  │     ⋮        ⋮      ⋮      ⋮
                       37 rows omitted

In [21]:
print(names(originvbrand))

["brand", "1.0", "3.0", "2.0"]

In [22]:
print(propertynames(originvbrand))

[:brand, Symbol("1.0"), Symbol("3.0"), Symbol("2.0")]

In [23]:
originvbrand."1.0"

37-element Array{Union{Missing, Int64},1}:
 ⋮

In [24]:
origbrand3 = @pipe df |>
    groupby(_, :origin) |>
    combine(_, :brand => x -> Ref(unique(x)))

3×2 DataFrame
 Row │ origin   brand_function
     │ Float64  Array…
─────┼────────────────────────────────────────────
  ⋮  │    ⋮                     ⋮
                                    3 rows omitted

In [25]:
@pipe df |> groupby(_, :origin) |> combine(_, :brand => unique)

37×2 DataFrame
 Row │ origin   brand_unique
     │ Float64  String
─────┼───────────────────────
  ⋮  │    ⋮          ⋮
              37 rows omitted

In [27]:
for i in axes(origbrand3, 1)
    for j in i + 1:nrow(origbrand3)
        println("$i v $j => ", 
                intersect(origbrand3.brand_function[[i, j]]...))
    end
end

1 v 2 => String[]
1 v 3 => String[]
2 v 3 => String[]

In [28]:
flatten(origbrand3, :brand_function)

37×2 DataFrame
 Row │ origin   brand_function
     │ Float64  String
─────┼─────────────────────────
  ⋮  │    ⋮           ⋮
                37 rows omitted