In [1]:
#using BenchmarkTools
using CSV
using DataFrames
using DelimitedFiles
#using JLD
#using NPZ
#using RCall
#using RData
#using XLSX

In [2]:
p = download(
    "https://raw.githubusercontent.com/nassarhuda/easy_data/master/"
    * "programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

In [3]:
;head -3 programming_languages.csv

year,language
1951,Regional Assembly Language
1952,Autocode

In [4]:
data, headers = readdlm("programming_languages.csv", ','; header=true)

(Any[1951 "Regional Assembly Language"; 1952 "Autocode"; … ; 2012 "Julia"; 2014 "Swift"], AbstractString["year" "language"])

In [5]:
headers

1×2 Array{AbstractString,2}:
 "year"  "language"

In [6]:
writedlm("programming_languages_dlm.txt", p, '-')

In [13]:
data = CSV.read("programming_languages.csv", DataFrame)
first(data, 5)

5×2 DataFrame
 Row │ year   language
     │ Int64  String
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL
   4 │  1955  FLOW-MATIC
   5 │  1957  FORTRAN

In [14]:
typeof(data)

DataFrame

In [15]:
names(data)

2-element Array{String,1}:
 "year"
 "language"

In [16]:
describe(data)

2×7 DataFrame
 Row │ variable  mean     min       median  max        nmissing  eltype
     │ Symbol    Union…   Any       Union…  Any        Int64     DataType
─────┼────────────────────────────────────────────────────────────────────
   1 │ year      1982.99  1951      1986.0  2014              0  Int64
   2 │ language           ALGOL 58          dBase III         0  String

In [17]:
CSV.write("programming_languages_csv.csv", data)

"programming_languages_csv.csv"

In [18]:
#data = XLSX.readdata("zillow_data_download_april2020.xlsx", 
#                     "Sale_counts_city",  # sheet
#                     "A1:F9")             # cell range

In [19]:
#G = XLSX.readtable("zillow_data_download_april2020.xlsx", 
#                   "Sale_counts_city")
#G[1]    # all data
#G[1][1] # first col
#G[2]    # headers

# To DF:
#D = DataFrame(G...)

#XLSX.writetable("mytable.xlsx", G[1], G[2])

In [21]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105, 47, 22, 105]
prices = [0.85, 1.6, 0.8, 0.6]
df_calories = DataFrame(item=foods, calories=calories)
df_prices = DataFrame(item=foods, prices=prices)
df = outerjoin(df_calories, df_prices, on=:item)

4×3 DataFrame
 Row │ item      calories  prices
     │ String?   Int64?    Float64?
─────┼──────────────────────────────
   1 │ apple          105      0.85
   2 │ cucumber        47      1.6
   3 │ tomato          22      0.8
   4 │ banana         105      0.6

In [22]:
#jld_data = JLD.load("mydata.jld")
#save("mydata.jld", "A", jld_data)
#@show typeof(jld_data)

In [23]:
#npz_data = npzread("mydata.npz")
#npzwrite("mydata.npz", npz_data)
#@show typeof(npz_data)

In [24]:
#R_data = RData.load("mydata.rda")
#@rput R_data
#R"save(R_data, file=\"mydata.rda\")"
#@show typeof(R_data)

In [25]:
first(data, 3)

3×2 DataFrame
 Row │ year   language
     │ Int64  String
─────┼───────────────────────────────────
   1 │  1951  Regional Assembly Language
   2 │  1952  Autocode
   3 │  1954  IPL

In [38]:
function yearcreated(data, language::String)
    loc = findfirst(data.language .== language)
    !isnothing(loc) && return data[loc, 1]
    return NaN
end

yearcreated (generic function with 1 method)

In [39]:
yearcreated(data, "Julia")

2012

In [40]:
yearcreated(data, "Bork")

NaN

In [41]:
function getnperyear(data, year::Int64)
    length(findall(data.year .== year))
end

getnperyear (generic function with 1 method)

In [42]:
getnperyear(data, 1986)

3

In [44]:
d = Dict([("A", 1), ("B", 2), ("C", 3)])

Dict{String,Int64} with 3 entries:
  "B" => 2
  "A" => 1
  "C" => 3

In [47]:
get(d, "A", NaN)

1

In [53]:
dict = Dict{Integer, Vector{String}}()

for i = 1:size(data, 1)
    year, lang = data[i, :]
    dict[year] = push!(get(dict, year, []), lang)
end

In [54]:
dict

Dict{Integer,Array{String,1}} with 45 entries:
  1991 => ["Python", "Visual Basic"]
  1993 => ["Lua", "R"]
  2005 => ["F#"]
  2010 => ["Rust"]
  1983 => ["Ada"]
  1957 => ["FORTRAN", "COMTRAN"]
  1987 => ["Perl"]
  2007 => ["Clojure"]
  1989 => ["FL "]
  1969 => ["B"]
  1952 => ["Autocode"]
  1963 => ["CPL"]
  2003 => ["Groovy", "Scala"]
  1958 => ["LISP", "ALGOL 58"]
  2014 => ["Swift"]
  1951 => ["Regional Assembly Language"]
  1997 => ["Rebol"]
  2000 => ["ActionScript"]
  1967 => ["BCPL"]
  1985 => ["Eiffel"]
  1968 => ["Logo"]
  1955 => ["FLOW-MATIC"]
  1984 => ["Common Lisp", "MATLAB", "dBase III"]
  2009 => ["Go"]
  1966 => ["JOSS"]
  ⋮    => ⋮

In [59]:
function yearcreated(dict, language::String)
    keysvec = collect(keys(dict))
    lookup = map(keyid -> findfirst(dict[keyid] .== language), keysvec)
    keysvec[findfirst((!isnothing).(lookup))]
end

yearcreated (generic function with 2 methods)

In [60]:
yearcreated(dict, "Julia")

2012

In [64]:
function yearcreated(dict, language::String)
    for k in keys(dict)
        if language in dict[k]
            return k
        end
    end
    NaN
end

yearcreated (generic function with 2 methods)

In [65]:
yearcreated(dict, "Python")

1991

In [61]:
getnperyear(dict, year::Int64) = length(dict[year])

getnperyear (generic function with 1 method)

In [63]:
getnperyear(dict, 1988)

2